
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: dodgerblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
}
li {
    width: 400px;
    padding: 1%;
    font-weight: bold;
    font-size: small;
}
li:first-child {
    font-size: 14pt;
    font-weight: lighter;
}
h1 {
    font-size: 16pt;
}
.page-heading {
    padding-left: 13px;
}
.new-user-flex {
    display: flex;
    justify-content: center;
}
.new-user-card {
    border: solid 1px gray;
    border-radius: 5px;
    width: 500px;
    height: 200px;
    
}
.user-input {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
    padding: 8px;
    font-weight: bold;
}
.textbox {
    height: 20px;
    width: 70%;
    margin-left: 10%;
    margin-right: 1%;
}

.new-user-heading {
    margin-left: 3%;
}
.button-flex {
    display: flex;
    justify-content: center;

}
.button {
    height: 20px;
    width: 40px;
    font-size: 10pt;
    text-align: center;
}
.clear {
    color: black;
    background-color: lightgray;
    border: solid 1px #606060;
}
.save {
    color: white;
    background-color: dodgerblue;
    border: solid 1px black;
} 

.user-flex {
    display: flex;
    flex-wrap: wrap;
}
.user-box {
    width: calc(100% / 3 - 2rem);
    height: 90px;
    border: solid gray 1px;
    margin: 1rem;
    border-radius: 15px;
}
.tall {
    height: 115px;
}
div > h2 {
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
}
div > p {
    text-align: center;
}
@media (max-width: 600px){
    .user-flex {
        flex-direction: column;
    } 
    .user-box {
        width: 450px;
        height: 90px;
        border: solid gray 1px;
        margin: 1rem;
        border-radius: 15px;
    }
    .tall {
        height: 150px;
    }
    ul {
        flex-direction: column;
    }
}